<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Atlas-Login</title>
    <script th:src="@{https://maps.googleapis.com/maps/api/js?key={API_KEY}&callback=initMap&libraries=&v=weekly(API_KEY=${API_KEY})}"
            defer
    ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script th:src="@{/js/add_marker.js}"></script>

</head>
<body>
<!--TODO form for adding markers (location and name)-->
<div th:replace="fragments :: navigation"></div>

<div id="map"></div>
<form action="/marker/add" method="post">
    <p>Name</p>
    <input type="text" id="name">
    <p>Lat</p>
    <input type="text" id="latitude">
    <p>Lng</p>
    <input type="text" id="longitude">
    <button type="submit">submit</button>
</form>
</body>
</html>