<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Atlas-Create</title>
    <script th:with="key=${API_KEY}" th:inline="javascript">let key = [[${API_KEY}]];</script>
    <script th:src="@{https://maps.googleapis.com/maps/api/js?key={API_KEY}&callback=initMap&libraries=&v=weekly(API_KEY=${API_KEY})}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/atlasCss/base-style.css}" />
    <script th:src="@{/js/generateMap.js}"></script>
    <script th:src="@{/js/addMarker.js}" defer></script>
    <script th:src="@{/js/zipCodeZoom.js}" defer></script>

</head>
<body class="min-h-0">
<div id="mapContainer" class="absolute top-0 left-0 h-screen w-screen z-0">
    <div id="map"></div>
</div>

<div class="relative min-h-0 flex pointer-events-none flex-col w-0 h-full">
    <div th:replace="fragments :: navigation"></div>


<!--    custom hamburger-->
    <div>
        <div th:replace="fragments :: hamburgerAdd"></div>
    </div>


    <div class="pl-4 text-sm pointer-events-none min-h-0 w-64">
        <div th:replace="fragments :: zipCodeZoomComponent"></div>
        <!--                <p id="viewMarkerMessage" class="bg-white pl-5 text-sm text-blue-800"></p>-->
<!--        <div th:replace="fragments :: markerList"></div>-->
        <div th:replace="fragments :: addMarkerComponent"></div>
    </div>
</div>
</div>





<!--<div th:replace="fragments :: navigation"></div>-->
<!--<div id="map"></div>-->
<!--<div th:replace="fragments :: zipCodeZoomComponent"></div>-->
<!--<th:block th:replace="fragments:: addMarkerComponent"></th:block>-->

</body>
</html>