<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
    <head >
        <meta charset="UTF-8">
        <title th:text="${title}">Title</title>

    </head>
<body>


<!--searchzipp-->
<form name="tab-toggle" th:fragment="zipCodeZoomComponent" id="tabSearch" th:onsubmit="setLocationWithZipcode(key, this)" class="hidden pointer-events-auto flex py-1 h-10 w-full border-t-2 border-black bg-gray-700 shadow-xl shadow-inner" >
        <label for="zip"></label>
        <input class="mx-auto w-40 text-white bg-gray-700 text-lg active:border-white text-center" id="zip" type="text" pattern="(^\d{5}$)|(^\d{9}$)|(^\d{5}-\d{4}$)" placeholder="zipcode" required>
        <button class="w-10 text-lg text-center border-l-2 border-white shadow-lg inline block hover:bg-blue-500 font-semibold text-white" type="submit">Go!</button>
</form>

<!--No longer used, auto search from setting circle center-->
<!--<div class="" th:fragment="selectAreaAndSearchComponent">-->
<!--    <form id="setEpicenter">-->
<!--        <button class="border block hover:bg-gray-100" id="search" type="submit" th:onclick="markerSearch()">Retrieve markers in area</button>-->
<!--    </form>-->
<!--</div>-->

<!--NAVIGATION-->
<!---->
<div th:fragment="navigation" class="w-screen p-2 flex text-3xl font-medium text-white" >
<!--    logo/home-->
    <div class="flex shadow-xl pointer-events-auto shadow-inner rounded-sm bg-black bg-opacity-25">
        <a class="max-w-none" th:href="@{/}">
            <img class="m-4 h-16"  th:src="@{/image/logo/atlas2.svg}" alt="Home atlas logo">
        </a>
        <div class="self-center border-dotted border-white border-l-4 pl-2 hover:underline ml-auto mr-5">
            <a th:href="@{/user/all}" th:text="${validUser.userName}"></a>
        </div>
    </div>
    <!--if user is false show register block .. -->

            <div class="self-center ml-auto pointer-events-auto text-black text-opacity-75 hover:underline mr-5">
                <a th:href="@{/logout}">Logout</a>
            </div>

<!--    &lt;!&ndash;if user is true show logged-in block .. &ndash;&gt;-->
<!--        <th:block th:unless="${validUser}">-->
<!--            <div class="self-center ml-auto mr-5">-->
<!--                <a class="self-center pl-2 border-l-4 border-dotted broder-white hover:underline mr-5" th:href="@{/login}">Login</a>-->
<!--            </div>-->
<!--            <div class="self-center hover:underline mr-5">-->
<!--                <a th:href="@{/register}">Register</a>-->
<!--            </div>-->
<!--        </th:block>-->
</div>

<!-- hamburger menu-->
<div th:fragment="hamburger" id="hMenuBtn" class="pl-2 pointer-events-auto h-12 flex flex-row">

    <div id="hMenu" class="hidden  bg-black bg-opacity-25 shadow-lg shadow-inner rounded-sm" change="tabToggle">
        <div class="w-64 flex justify-center space-x-10 flex-row">
        <label class="block relative cursor-pointer">
            <img class="py-2 h-12"  th:src="@{/image/menu/list.svg}" alt="Home atlas logo">
            <input autocomplete="off" type="radio" name="menu" id="list" class="hidden">
            <div class=""></div>
        </label>

        <label class="block relative cursor-pointer">
            <img class="py-2 h-12"  th:src="@{/image/menu/mark.svg}" alt="Home atlas logo">
            <input autocomplete="off" type="radio" name="menu" id="mark" class="hidden">
            <div class=""></div>
        </label>

        <label class="block relative cursor-pointer">
            <img class="h-12"  th:src="@{/image/menu/search.svg}" alt="Home atlas logo">
            <input autocomplete="off" type="radio" name="menu" id="search" class="hidden" checked>
            <div class="border-b-gray-700"></div>
        </label>
        </div>
    </div>

    <div class="" >
        <label class="ml-3 w-8 h-12 py-2 group cursor-pointer grid grid-cols">
            <input type="checkbox" class="hidden" onclick="hMenuShow()">

<!--                <div class="w-full rounded-full h-2 bg-white group-hover:bg-blue-700"></div>-->
                <div name="bar" class="w-full rounded-full h-2 bg-white"></div>


<!--                <div class="w-full h-2 rounded-full bg-white group-hover:bg-blue-700"></div>-->
                <div name="bar" id="middleBar" class="w-full h-2 rounded-full bg-white"></div>


<!--                <div class="w-full h-2 rounded-full bg-white group-hover:bg-blue-700"></div>-->
                <div name="bar" class="w-full h-2 rounded-full bg-white"></div>
        </label>
    </div>
</div>

<div th:fragment="hamburgerAdd" id="hMenuBtn" class="pl-2 h-12 pointer-events-auto flex flex-row">

    <div id="hMenu" class="hidden  bg-black bg-opacity-25 shadow-lg shadow-inner rounded-sm" change="tabToggle">
        <div class="w-64 flex justify-center space-x-10 flex-row">

            <label class="block relative cursor-pointer">
                <img class="py-2 h-12"  th:src="@{/image/menu/add.svg}" alt="Home atlas logo">
                <input autocomplete="off" type="radio" name="menu" id="add" class="hidden">
                <div class=""></div>
            </label>

            <label class="block relative cursor-pointer">
                <img class="h-12"  th:src="@{/image/menu/search.svg}" alt="Home atlas logo">
                <input autocomplete="off" type="radio" name="menu" id="search" class="hidden" checked>
                <div class="border-b-gray-700"></div>
            </label>
        </div>
    </div>

    <div class="" >
        <label class="ml-3 w-8 h-12 py-2 group cursor-pointer grid grid-cols">
            <input type="checkbox" class="hidden" onclick="hMenuShow()">

            <!--                <div class="w-full rounded-full h-2 bg-white group-hover:bg-blue-700"></div>-->
            <div name="bar" class="w-full rounded-full h-2 bg-white"></div>


            <!--                <div class="w-full h-2 rounded-full bg-white group-hover:bg-blue-700"></div>-->
            <div name="bar" id="middleBar" class="w-full h-2 rounded-full bg-white"></div>


            <!--                <div class="w-full h-2 rounded-full bg-white group-hover:bg-blue-700"></div>-->
            <div name="bar" class="w-full h-2 rounded-full bg-white"></div>
        </label>
    </div>
</div>


<!--LOGIN-->
<!--intro-->
<div class="mx-auto w-64 p-5" name="introduction" th:fragment="intro">
<!--    <div class="">-->
<!--        <a class="w-auto" th:href="@{/}">-->
<!--            <img class="mx-auto mb-8 h-24"  th:src="@{/image/logo/atlas2.svg}" alt="Home atlas logo">-->
<!--        </a>-->
<!--    </div>-->
    <p class="text-sm font-medium pb-4">Explore your neighborhood.
        <span class="text-sm font-thin">Let Atlas be your guide. Use an interactive map to discover points of interest in your area.</span>
    </p>

    <p class="text-sm font-medium pb-8">Share your own points of interest.
        <span class="text-sm font-thin">Pick a spot on a map. Add details to your marker.
    Have Atlas save it for others to discover.</span>
    </p>


</div>
<!--loginForm-->
<form th:fragment="loginForm" class="w-64 flex justify-center border-l-4 border-dotted border-gray-400 pt-5 pb-5" action="/login" method="post">
    <div>
        <p class="text-center pb-5">Please <b>login</b> or <a class="text-blue-700 hover:underline" th:href="@{/register}">register</a></p>
        <div class="flex flex-col">
            <label class="block text-sm font-medium" for="userName">Username</label>
            <input class="pl-2 shadow appearance-none border rounded" th:field="${loginUserDTO.userName}" type="text">
            <p class="input-error" th:errors="${loginUserDTO.userName}"></p>
        </div>
        <div class="flex mt-2 flex-col">
            <label class="block text-sm font-medium" for="password">Password</label>
            <input class="pl-2 shadow appearance-none border rounded" th:field="${loginUserDTO.password}" type="password">
            <p class="input-error" th:errors="${loginUserDTO.password}"></p>
        </div>
        <div class="mt-5 flex flex-col">
            <button class="h-10 px-2 self-center border rounded hover:bg-blue-200 shadow-lg bg-blue-700 font-semibold text-white" type="submit">Login</button>
        </div>
    </div>
</form>
<!---->
<!--RegisterForm-->
<form class="w-64 flex justify-center border-l-4 border-dotted border-gray-400 pt-5 pb-5" th:fragment="registerForm" action="/register" method="post">
    <div>
        <p class="text-center pb-5">Please <b>register</b> or <a class="text-blue-700 hover:underline" th:href="@{/login}">login</a></p>
        <div class="flex flex-col">
            <label class="block text-sm font-medium" for="userName">Username</label>
            <input class="pl-2 shadow appearance-none border rounded" th:field="${registerUserDTO.userName}" type="text">
            <p class="input-error" th:errors="${registerUserDTO.userName}"></p>
        </div>
        <div class="flex mt-2 flex-col">
            <label class="block text-sm font-medium" for="password">Password</label>
            <input class="pl-2 shadow appearance-none border rounded" th:field="${registerUserDTO.password}" type="password">
            <p class="h-6 input-error" th:errors="${registerUserDTO.password}"></p>
        </div>
        <div class="mt-5 flex flex-col">
            <button class="px-2 h-10 self-center border rounded hover:bg-blue-200 shadow-lg bg-blue-700 font-semibold text-white" type="submit">Register</button>
        </div>
    </div>
</form>
<!---->
<!--status page-->
<div class="mx-auto text-center w-auto mt-16" th:fragment="statusBlock">
        <!-- each visit will have have its own status message, constructed in controller-->
        <p th:text="${status}" class="text-4xl font-bold"></p>
        <!-- only successful update will display marker with changes highlighted with green -->
        <!-- repeat of markerInfo page-->
        <th:block th:if="${marker}">
            <p th:if="${old}" class="text-base tracking-tight">Changes marked with green</p>
            <div id="infoCard" class="pt-2 mx-auto w-64 mb-16 mt-6 shadow-xl border-gray-700 bg-white">
                <div id="infoCardContents" class="border-t pt-4 flex flex-col h-full w-full">
                    <div class="leading-tight">
                        <p id="name" th:text="${marker.markerName}" class="text-2xl px-2 font-semibold" th:classappend="(${old} != null)? (${marker.markerName} == ${old.markerName}? '' :'border-4 border-green-300') : ''" ></p>
                        <p id="description" th:text="${marker.description}" class="px-2 ml-1 text-sm mb-4 font-light" th:classappend="(${old} != null)? (${marker.description} == ${old.description}? '' :'border-4 border-green-300') : ''" ></p>
                    </div>
                    <div class="px-1">
                        <img class="rounded-sm w-full" id="image" th:src="|http://localhost:8080/api/download/${marker.imageName}|" th:classappend="${isNewImage}? 'border-4 border-green-300' : ''">
                    </div>

                    <div class="flex flex-col leading-tight text-center text-gray-400 font-hairline text-xs pb-2 ">

                        <div class="mt-2 border-t-2">
                            <p>Id: <span th:text="${marker.id}" class="leading-tight text-left text-gray-400 font-hairline text-xs"></span></p>
                        </div>

                        <div th:classappend="(${old} != null)? (${marker.location} == ${old.location}? '' :'border-4 border-green-300') : ''" >
                            <div>
                                <p>Lat: <span th:text="${marker.location.getY()}" class="leading-tight text-left text-gray-400 font-hairline text-xs"></span></p>
                            </div>

                            <div>
                                <p>Lng: <span th:text="${marker.location.getX()}" class="leading-tight text-left text-gray-400 font-hairline text-xs"></span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </th:block>

</div>

<!--welcome-->
<!---->
<div class="mx-auto mt-40 max-w-xs" th:fragment="welcomeIntro" id="explore-add-container">
    <p class="text-3xl font-semibold text-center">Welcome to Atlas</p>
    <a class="border shadow rounded-sm block text-center pt-4 pb-4 hover:bg-blue-200 bg-blue-700 text-white font-medium" th:href="@{/marker/view}">Search for markers</a>
    <a class="border shadow rounded-sm block text-center mt-2 pt-4 pb-4 hover:bg-blue-200 bg-blue-700 text-white font-medium" th:href="@{/marker/add}">Create a new marker</a>
</div>

<!--marker-->
<!---->
<!---->
<!--add-->
<div name="tab-toggle" id="tabAdd" th:fragment="addMarkerComponent" class="border-t-2 pointer-events-auto h-full overflow-auto shadow-xl border-gray-700 hidden pt-2 bg-white" style="max-height:48rem;">
    <p  class="input-error px-4" id="addMarkerMessage"></p>
    <form id="create-marker" action="/marker/add" method="post" enctype="multipart/form-data" class="flex bg-white flex-col px-4 bg-white w-full">
<!--        write custome error to say hey click the map we need the location -->
        <lable for="markerName" class="mt-2 w-full bg-white rounded">
            <textarea rows="2" placeholder="name" cols="14" class="resize-none px-1 border-2 rounded border-dotted text-3xl w-full font-semibold" type="text" th:field="${addMarkerDTO.markerName}"></textarea>
        </lable>
        <p name="error" class="input-error" th:errors="${addMarkerDTO.markerName}"></p>

        <label for="description" class="mt-2 w-full bg-white rounded">
            <textarea rows="3" placeholder="description" cols="14" class="pt-2 px-2 border-2 rounded border-dotted resize-none leading-tight font-light w-full" th:field="${addMarkerDTO.description}"></textarea>
        </label>
        <p name="error" class="input-error" th:errors="${addMarkerDTO.description}"></p>



        <label class="h-10 cursor-pointer pt-2 w-full bg-gray-100 mt-2 border rounded text-center lineHeight- text-sm shadow-lg font-semibold hover:border-6 hover:border-white" for="image">Add photo...
            <input type="file" th:field="${addMarkerDTO.image}"  accept="image/*" class="block h-0 w-0" onchange="preview(this)" required>
        </label>
        <p name="error" class="input-error" th:errors="${addMarkerDTO.image}"></p>
            <img id="updateImage" class="my-4 mx-auto h-32 rounded">



        <lable class="hidden" for="latitude">Lat
            <input type="text" th:field="${addMarkerDTO.latitude}">
            <p class="input-error" th:errors="${addMarkerDTO.latitude}"></p>
        </lable>

        <lable class="hidden" for="longitude">Lng
            <input type="text" th:field="${addMarkerDTO.longitude}">
            <p class="input-error" th:errors="${addMarkerDTO.longitude}"></p>
        </lable>


        <button type="submit"  style="background-color:#b9d3c2" class="h-10 mb-4 w-24 px-2 self-center border rounded text-sm shadow-lg font-semibold text-white hover:border-6 hover:border-white" th:onclick="setLngLat()">submit</button>
    </form>
</div>

<!--USER-->
<!--update marker form-->
<div name="tab-toggle" id="tabMark" th:fragment="updateMarkerComponent" class="border-t-2 pointer-events-auto overflow-auto h-full mb-2 shadow-xl border-gray-700 pt-2 bg-white hidden" style="max-height:34rem;">
<!--    <p id="updateMarkerMessage">Make changes</p>-->
    <form id="update-marker" action="/user/update" method="post" enctype="multipart/form-data" class="flex flex-col px-4 bg-white w-full">
        <div class="w-full pb-2">
            <p class="input-error" name="error" th:errors="${updateMarkerDTO.markerName}"></p>
            <label for="markerName"></label>
            <textarea th:field="${updateMarkerDTO.markerName}" rows="2" cols="14" class="resize-none text-3xl w-full font-semibold"></textarea>
        </div>

        <div>
            <p class="input-error" name="error" th:errors="${updateMarkerDTO.description}"></p>
            <label for="description"></label>
            <textarea th:field="${updateMarkerDTO.description}" class="resize-none leading-tight font-light w-full h-24"></textarea>
        </div>

        <div>
            <p class="input-error" name="error" th:errors="${updateMarkerDTO.image}"></p>
            <label class="cursor-pointer"><img id="updateImage" class=" shadow-2xl mx-auto border-2 h-32 rounded hover:border-8 hover:border-white">
                <input type="file" th:field="${updateMarkerDTO.image}" accept="image/*" class="block h-0 w-0" onchange="preview(this)">
            </label>

        </div>

        <div class="mx-auto mt-16 mb-2">
            <button type="submit" style="background-color:#b9d3c2" class="h-10 w-24 px-2 self-center border rounded text-sm shadow-lg font-semibold text-white hover:border-6 hover:border-white">Update</button>
            <button form="update-marker" type="submit" style="background-color:#ea4335" formaction="/user/delete" class="h-10 w-18 px-2 self-center text-sm border rounded shadow-lg font-semibold text-white hover:border-6 hover:border-white">Delete</button>
        </div>

       <div class="flex flex-col leading-tight text-right text-gray-400 font-hairline text-xs pb-2 ">

            <div class="pt-2 border-t-2">
                <p class="input-error" name="error" th:errors="${updateMarkerDTO.id}"></p>
                <label for="id" class="">Id</label>
                <input type="text" th:field="${updateMarkerDTO.id}" class="leading-tight text-left text-gray-400 font-hairline text-xs" readonly>
            </div>

            <div>
                <p class="input-error" name="error" th:errors="${updateMarkerDTO.latitude}"></p>
                <label for="latitude">Lat</label>
                <input type="text" th:field="${updateMarkerDTO.latitude}" class="leading-tight text-left text-gray-400 font-hairline text-xs" readolny>
            </div>

            <div>
                <p class="input-error"name="error" th:errors="${updateMarkerDTO.longitude}"></p>
                <label for="longitude">Lng</label>
                <input type="text" th:field="${updateMarkerDTO.longitude}" class="leading-tight text-left text-gray-400 font-hairline text-xs" readonly>
            </div>

       </div>

    </form>
</div>
<!---->
<!--delete marker form-->
<!--<form th:fragment="deleteMarkerComponent" method="post" action="/user/delete">-->
<!--    <label for="deleteMarkerId">Id</label>-->
<!--    <input id="deleteMarkerId" name="deleteThisMarkerId" readonly></input>-->
<!--    <button id="delete" type="submit">Delete</button>-->
<!--</form>-->

<!---->
<!--view markers table-->
<!--<div th:fragment="showAllUserMarkersComponent">-->
<!--    <p id="viewMarkerMessage"></p>-->
<!--    <table th:each="marker : ${markers}" th:id="${marker.id}" th:name="marker">-->
<!--        <tbody>-->
<!--        <tr><td name="name" th:text="${marker.markerName}"></td></tr>-->
<!--        <tr><td name="description" th:text="${marker.description}"></td></tr>-->
<!--        <tr><td name="x" th:text="${marker.location.x}"></td></tr>-->
<!--        <tr><td name="y" th:text="${marker.location.y}"></td></tr>-->
<!--        <tr><td name="markerImage"></td><img th:src="@{'http://localhost:8080/api/download/' + ${marker.getImageName()}}"></tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

<!---->
<!--marker info card-->
<div name="tab-toggle" th:fragment="markerCard" id="tabMark" class="pt-2 border-t-2 overflow-auto pointer-events-auto h-full mb-2 min-h-0 shadow-xl border-gray-700 bg-white hidden" style="max-height:32rem;">
    <div id="markInfo_contents" class="flex overflow-auto flex-col h-full w-full">
            <div class="leading-tight">
                <p id="miName" class="text-2xl px-2 font-semibold"></p>
                <p id="miDescription" class="px-2 ml-1 text-sm mb-4 font-light"></p>
            </div>
            <div class="px-1">
                <img class="rounded-sm flex-none w-full" id="miImage" src="">
            </div>
            <div>
                <p class="text-right text-gray-600 font-hairline text-xs pr-2 pt-2" id="miId"></p>
            </div>
        </div>
</div>

<!--marker list-->
<div name="tab-toggle" class="border-t-2 border-gray-700 h-full w-full pointer-events-auto shadow-xl overflow-auto pt-2 pb-1 pb-4 bg-white hidden" style="max-height:32rem;" id="tabList" th:fragment="markerList">
    <p th:unless="${markers}" id="viewMarkerMessage" class="bg-white text-center text-sm text-blue-800">Click map to start search</p>
    <button name="listedMarker" class="bg-white pl-5 h-6 w-full font-light text-left pr-5 hover:bg-blue-600 hover:text-white hover:font-medium last:mb-1" th:each="marker : ${markers}" th:text="${marker.markerName}" th:id="${marker.id}"></button>
    <div class="w-full h-2"></div>
</div>


</body>
</html>