<!DOCTYPE html>
    <html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head >
        <meta charset="UTF-8">
        <title th:text="${title}">Title</title>

    </head>
<body>

<!--marker-->
<!---->
<form th:fragment="zipCodeZoomComponent" id="setLocation" th:onsubmit="setLocationWithZipcode(key, this)">
    <label for="zip">Set Zipcode</label>
    <input id="zip" type="text" pattern="(^\d{5}$)|(^\d{9}$)|(^\d{5}-\d{4}$)">
    <button type="submit">submit</button>
</form>
<!---->
<!--add-->
<div th:fragment="addMarkerComponent">
    <p id="addMarkerMessage"></p>
    <form id="create-marker" action="/marker/add" method="post" enctype="multipart/form-data">
        <lable for="markerName">Name</lable>
        <input type="text" th:field="${addMarkerDTO.markerName}">
        <p th:errors="${addMarkerDTO.markerName}"></p>

        <label for="image">Upload Photo</label>
        <input type="file" th:field="${addMarkerDTO.image}" accept="image/*">
        <p th:errors="${addMarkerDTO.image}"></p>

        <label for="description">Description</label>
        <input th:field="${addMarkerDTO.description}">
        <p th:errors="${addMarkerDTO.description}"></p>

        <lable for="latitude">Lat</lable>
        <input type="text" th:field="${addMarkerDTO.latitude}">
        <p th:errors="${addMarkerDTO.latitude}"></p>

        <lable for="longitude">Lng</lable>
        <input type="text" th:field="${addMarkerDTO.longitude}">
        <p th:errors="${addMarkerDTO.longitude}"></p>

        <button type="submit" th:onclick="setLngLat()">submit</button>
    </form>
</div>

<!---->
<!--TODO error handling if no location chosen-->
<div th:fragment="selectAreaAndSearchComponent">
    <form id="setEpicenter">
        <button id="search" type="submit" th:onclick="markerSearch()">Retrieve markers in area</button>
    </form>
</div>

<!--NAVIGATION-->
<!---->
<div th:fragment="navigation">
    <a th:href="@{/}"><img src="" width="50px" height="50px">Home</a>
<!--if user is true show logged-in block .. -->
    <th:block th:unless="${validUser}">
        <a  th:href="@{/login}"><img src="" width="50px" height="50px">Login</a>
        <a th:href="@{/register}"><img src="" width="50px" height="50px">Register</a>
    </th:block>
<!--if user is false show register block .. -->
    <th:block th:if="${validUser}">
        <a th:href="@{/user/all}"><img src="" width="50px" height="50px" th:text="${validUser.userName}" ></a>
        <a th:href="@{/logout}"><img src="" width="50px" height="50px">Logout</a>
    </th:block>
</div>

<!--LOGIN-->
<!--loginForm-->
<form th:fragment="loginForm" action="/login" method="post">
    <label for="userName">Username</label>
    <input th:field="${loginUserDTO.userName}" type="text">
    <p th:errors="${loginUserDTO.userName}"></p>
    <label for="password">Password</label>
    <input th:field="${loginUserDTO.password}" type="text">
    <p th:errors="${loginUserDTO.password}"></p>
    <button type="submit">Submit</button>
</form>
<!---->
<!--RegisterForm-->
<form th:fragment="registerForm" action="/register" method="post">
    <label for="userName">Username</label>
    <input th:field="${registerUserDTO.userName}" type="text">
    <p th:errors="${registerUserDTO.userName}"></p>
    <label for="password">Password</label>
    <input th:field="${registerUserDTO.password}" type="text">
    <p th:errors="${registerUserDTO.password}"></p>
    <button type="submit">Submit</button>
</form>
<!---->
<!---->
<div th:fragment="success">
    <p>Success!</p>
    <p th:text="${works}"></p>
</div>

<!--welcome-->
<!---->
<div th:fragment="welcomeIntro" id="explore-add-container">
    <a th:href="@{/marker/view}">View Markers</a>
    <a th:href="@{/marker/add}">Add Marker</a>
</div>


<!--USER-->
<!--update marker form-->
<div th:fragment="updateMarkerComponent">
    <p id="updateMarkerMessage">Make changes</p>
    <form id="update-marker" action="/user/update" method="post" enctype="multipart/form-data">
        <lable for="id">Id</lable>
        <input type="text" th:field="${updateMarkerDTO.id}" readonly>
        <p name="error" th:errors="${updateMarkerDTO.id}"></p>

        <lable for="markerName">Name</lable>
        <input th:field="${updateMarkerDTO.markerName}">
        <p name="error" th:errors="${updateMarkerDTO.markerName}"></p>

        <lable for="image">Image</lable>
        <input type="file" th:field="${updateMarkerDTO.image}" accept="image/*">
        <p name="error" th:errors="${updateMarkerDTO.image}"></p>
        <img id="updateImage">

        <lable for="description">Description</lable>
        <input th:field="${updateMarkerDTO.description}">
        <p name="error" th:errors="${updateMarkerDTO.description}"></p>

        <lable for="latitude">Lat</lable>
        <input type="text" th:field="${updateMarkerDTO.latitude}">
        <p name="error" th:errors="${updateMarkerDTO.latitude}"></p>

        <lable for="longitude">Lng</lable>
        <input type="text" th:field="${updateMarkerDTO.longitude}">
        <p name="error" th:errors="${updateMarkerDTO.longitude}"></p>

        <button type="submit" >Update</button>
    </form>
</div>
<!---->
<!--delete marker form-->
<form th:fragment="deleteMarkerComponent" method="post" action="/user/delete">
    <label for="deleteMarkerId">Id</label>
    <input id="deleteMarkerId" name="deleteThisMarkerId" readonly></input>
    <button id="delete" type="submit">Delete</button>
</form>

<!---->
<!--view markers table-->
<div th:fragment="showAllUserMarkersComponent">
    <p id="viewMarkerMessage"></p>
    <table th:each="marker : ${markers}" th:id="${marker.id}" th:name="marker">
        <tbody>
        <tr><td name="name" th:text="${marker.markerName}"></td></tr>
        <tr><td name="description" th:text="${marker.description}"></td></tr>
        <tr><td name="x" th:text="${marker.location.x}"></td></tr>
        <tr><td name="y" th:text="${marker.location.y}"></td></tr>
        <tr><td name="markerImage"></td><img th:src="@{'http://localhost:8080/api/download/' + ${marker.getImageName()}}"></tr>
        </tbody>
    </table>
</div>


</body>
</html>