<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Atlas-Login</title>
</head>
<body>

<div th:replace="fragments :: navigation"></div>

<form action="/login" method="post">
    <input th:field="${loginUserDTO.userName}" type="text">
    <p th:errors="${loginUserDTO.userName}"></p>
    <input th:field="${loginUserDTO.password}" type="text">
    <p th:errors="${loginUserDTO.password}"></p>
    <button type="submit">Submit</button>
</form>

</body>
</html>