<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Atlas-Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/atlasCss/base-style.css}" />

</head>

<body class="bg-gray-300">

<!--<div th:replace="fragments :: navigation"></div>-->
<div class="w-64 pt-4 mx-auto" style="width:32rem">
    <a class="" th:href="@{/}">
        <img class="mx-auto m-4 h-32"  th:src="@{/image/logo/atlas2.svg}" alt="Home atlas logo">
    </a>

    <div class="flex">
        <div th:replace="fragments :: intro"></div>
        <div th:replace="fragments :: registerForm"></div>
    </div>
</div>




</body>
</html>